body {
    word-break: break-all;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, p, button {
    margin: 0;
    padding: 0;
}
html, body {
    overflow: visible;
    width: 100%;
    height: 100%;
    font-family: 'Noto DemiLight', sans-serif;
    line-height: 1.4;
    font-size: 18px;
    color: #333;
    letter-spacing: 0;
    word-wrap: break-word;
}
*, :after, :before, ::after, ::before {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.hidden {
    display: none;
}
.wrap_sub_visual {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 550px;
    overflow: hidden;
}
div {
    display: block;
    unicode-bidi: isolate;
}
.eQ03 .wrap_sub_visual:before {
    background: url(img/cul_back.jpg) no-repeat center top;
}

.wrap_sub_visual:before {
    animation-name: subVisual;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
.wrap_sub_visual::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover !important;
}
.wrap_sub_visual a.prev {
    left: 20px;
    color: #FFF;
}
.wrap_sub_visual a {
    display: flex;
    align-items: center;
    position: absolute;
    top: 270px;
    font-size: 16px;
    color: #FFF;
}
a:link, a:active, a:visited {
    text-decoration: none;
    color: #000;
}
.wrap_sub_visual a.prev::before {
    transform: rotate(180deg);
    margin-right: 15px;
}
.wrap_sub_visual a.prev::before, .wrap_sub_visual a.next::after {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.7) url(img/arrow_2.png) no-repeat center;
}
.wrap_sub_visual a.next {
    right: 20px;
    color: #FFF;
}
.wrap_sub_visual a.next::after {
    margin-left: 15px;
}
.wrap_sub_visual .container {
    padding-top: 275px;
}
.wrap_sub_visual .container .visual_intro {
    text-align: center;
}
.wrap_sub_visual .container .visual_intro strong {
    display: inline-block;
    color: #FFF;
    font-family: 'S-CoreDream-5Medium';
    font-size: 35px;
}

.wrap_sub_visual .container .visual_intro span {
    display: none;
}
.wrap_page_func {
    position: fixed;
    top: 400px;
    left: 0;
    width: 100%;
    z-index: 2;
}
.wrap_page_func .container {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
}
.sub_util {
    margin-bottom: 20px;
}
.sub_util > ul {
    display: flex;
    justify-content: center;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
.sub_util > ul > li {
    position: relative;
}
li {
    list-style: none;
}
.sub_navi {
    display: flex;
    justify-content: center;
}
.sub_navi > ul {
    display: flex;
    justify-content: flex-start;
}
.sub_navi > ul > li.home {
    background: url(img/home.png) no-repeat center;
    margin: 0;
}
.sub_navi > ul > li {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 5px;
}
.sub_navi > ul > li.home a {
    display: block;
    width: 50px;
    height: 100%;
    text-indent: -9999px;
}
a:link, a:active, a:visited {
    text-decoration: none;
    color: #000;
}
a, input[type=button], input[type=submit], button {
    transition: all 0.4s cubic-bezier(0.5, 0, 0.3, 1);
}
a, button, input {
    border: 0 none;
}
.sub_navi > ul > li {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 5px;
}
.sub_navi > ul > li > button {
    display: block;
    min-width: 190px;
    height: 50px;
    font-size: 15px;
    color: #fff;
    font-family: 'S-CoreDream-5Medium';
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #FFF;
}
.sub_navi > ul > li > button::after {
    content: "";
    display: block;
    width: 8px;
    height: 13px;
    background: url(img/arrow_2.png) no-repeat center;
    transform: rotate(90deg);
    margin-left: 15px;
}
.sub_navi > ul > li ul {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 49px;
    box-shadow: 1px 1px 5px #666;
    padding: 10px;
    background: #FFF;
}
li {
    list-style: none;
}
.sub_navi > ul > li ul li a {
    display: block;
    font-size: 14px;
    padding: 8px 15px;
    color: #222;
    border-bottom: 1px solid #EEE;
}
.sub_navi > ul > li {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 5px;
}

.sub_navi > ul > li > button::after {
    content: "";
    display: block;
    width: 8px;
    height: 13px;
    background: url(img/arrow_2.png) no-repeat center;
    transform: rotate(90deg);
    margin-left: 15px;
}
button {
    font-family: 'Noto Light', sans-serif;
    background-color: transparent;
    overflow: visible;
    border: 0;
}
.sub .wrap_contents {
    background: #FFF;
    position: relative;
    padding-bottom: 100px;
    margin-top: 400px;
}
@media (max-width: 1600px) {
    .tab {
        padding: 0 15px;
    }
}
@media (min-width: 1025px) {
    .tab {
        background: #FFF;
        position: relative;
        border-bottom: 1px solid #EEE;
    }
}
@media (min-width: 1025px) {
    .tab .menuUItab {
        max-width: 1600px;
        margin: 0 auto;
    }
}
.page_title {
    background: #FFF;
    padding: 50px 0;
    position: relative;
}
.page_title h1 {
    color: #333;
    font-size: 35px;
    font-family: 'S-CoreDream-5Medium';
    text-align: center;
}
.thisPath, .contntMaster {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 1em;
    line-height: 1.5;
    padding: 0 .5em;
    border-width: 1px;
    border-style: solid;
    z-index: 999;
    background-color: #000;
    color: #fff;
}
._contentBuilder {
    position: relative;
}
header, article, section, nav, footer {
    display: block;
}
#menu16810_obj30 {
    width: auto;
    height: auto;
    margin: 0px;
}

.sub ._obj {
    z-index: unset !important;
}

._obj {
    overflow: hidden;
    position: relative;
}

._objHtml, ._objTag, ._objWidget {
    padding-bottom: 50px;
}
.hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
#_contentBuilder ._fnctWrap {
    height: 100%;
}
#newSitemap {
    line-height: 1.4;
}
.sub ._fnctWrap, .wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1600px;
}
.sub ._fnctWrap, .wrapper {
    max-width: 96%;
}
label, button {
    cursor: pointer;
}
#newSitemap > ul > li {
    overflow: hidden;
    margin-bottom: 30px;
    width: 100%;
}
#newSitemap > ul > li > div {
    position: relative;
    padding-left: 260px;
    min-height: 110px;
}

._stMpWrap {
    margin-bottom: 30px;
    padding-bottom: 30px;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

._stMpWrap:before {
    content: '';
    display: block;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 0;
    width: 100%;
}
#newSitemap > ul > li > div > a {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 26px;
    color: #007d77;
    font-weight: 500;
    width: 200px;
    line-height: 1.2;
    letter-spacing: -2px;
    font-family: 'Noto Regular';
}
#newSitemap a {
    display: block;
}
#newSitemap > ul > li > div > a:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background: #014099;
    margin-bottom: 20px;
}
#newSitemap > ul > li > div > a:after {
    content: '';
    display: block;
    width: 100%;
    height: 20px;
    background: url(img/titleBgbottom.png) right top repeat-x;
    margin-top: 10px;
}
#newSitemap > ul > li > div > ul {
    font-size: 0;
}
#newSitemap > ul > li > div > ul > li {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    position: relative;
    padding-right: 10px;
    box-sizing: border-box;
}
#newSitemap > ul > li > div > ul > li > a {
    color: #000;
    font-size: 24px;
    font-family: 'Noto Medium';
    margin: 30px 0 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#newSitemap a {
    display: block;
}
#newSitemap > ul > li > div > ul > li > ul > li > a {
    font-family: 'Noto Regular';
    font-size: 18px;
    position: relative;
    padding-left: 15px;
    color: #000;
    margin: 15px 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#newSitemap > ul > li > div > ul > li > ul > li > a:before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #408ddf;
    display: block;
    position: absolute;
    left: 0;
    top: 11px;
}
#menu16802_obj38 {
    width: auto;
    height: auto;
    margin: 0px;
}
.wrap_major_4 {
    background: #f5f9ff;
}
.wrap_major_4, .wrap_major_6 {
    padding: 70px 0;
}
.wrap_major_1 .container, .wrap_major_2 .container, .wrap_major_3 .container, .wrap_major_4 .container, .wrap_major_5 .container, .wrap_major_6 .container, .wrap_major_7 .container {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}
@media (max-width: 1600px) {
    .wrap_major_1 .container, .wrap_major_2 .container, .wrap_major_3 .container, .wrap_major_4 .container, .wrap_major_5 .container, .wrap_major_6 .container, .wrap_major_7 .container {
        max-width: 96%;
    }
}
@media only screen and (max-width: 1550px) {
    .objHeading_h2, .objHeading_h3, .objHeading_h4, .objHeading_h5 {
        width: 96%;
    }
}
.objHeading_h2 {
    font-size: 30px;
    font-family: 'Noto Medium';
    color: #222222;
    padding-bottom: 50px;
}
.objHeading_h2, .objHeading_h3, .objHeading_h4, .objHeading_h5 {
    line-height: 1.25;
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    letter-spacing: -0.03em;
}
h1, h2, h3, h4, h5, h6, strong {
    font-weight: 400;
}
.objHeading_h2:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(img/cul_title.png) no-repeat center;
    margin: 0 5px 15px 0;
}

.table_1 {
    overflow: hidden;
}

.table_1 table {
    border-top: 2px solid #004594;
    width: 100%;
    word-break: break-all;
    position: relative;
    margin-left: 1px;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    text-align: center;
}

.table_1 caption {
    text-indent: -9999px;
    height: 0;
    position: absolute;
    left: 9999px;
    top: 9999px;
}
caption {
    width: 0;
    height: 0;
    padding: 0;
    font-size: 0;
    opacity: 0;
}

.table_1 th:first-child, .table_1 td:first-child {
    border-left: 0;
}
.table_1 tbody th {
    padding: 12px 20px;
    font-family: 'Noto Regular';
    background: #fbfbfb;
    color: #000;
    border-right: 1px solid #dddee0;
    border-bottom: 1px solid #ccd0d7;
}
th {
    text-align: center;
}
.table_1 tbody td {
    padding: 12px 20px;
    border-right: 1px solid #dddee0;
    border-bottom: 1px solid #dddee0;
}
.goTop a {
    bottom: 50px;
    opacity: 0.5;
    display: block;
    text-indent: -9999px;
    background: #888 url(img/arrow_2.png) no-repeat center;
    transform: rotate(-90deg);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: fixed;
    right: 20px;
}