body {
    background: url(./img/login_bg.gif) no-repeat 50%;
    background-size: auto;
    background-attachment: scroll;
}
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul, dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object, a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span, strong, sub, sup, tt, var, legend, fieldset {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
}
body {
    font-family: "Noto", sans-serif;
    color: #666;
    font-size: 13px;
    letter-spacing: -0.06em;
}
body {
    display: block;
    margin: 8px;
}
#wrap {
    width: 100%;
    height: 100%;
    /* border-top: 3px solid #20539e; */
}
div {
    display: block;
    unicode-bidi: isolate;
}

#container_main {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding: 80px 0 0;
}

#container_main:after {
    content: '';
    display: block;
    clear: both;
}
#container_main #content {
    /* overflow: hidden; */
    position: relative;
    /* width: 1080px; */
    /* height: 680px; */
    /* padding: 80px 0; */
}
h1 {
    font-size: 2.8em;
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
    color: #fff;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

h1 span {
    display: inline-block;
    color: #fff8c9;
}

.logRund_wrap {
    position: relative;
    width: 500px;
    height: 480px;
    margin: 0 auto;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 20%);
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}
.logRund {
    /* position: absolute; */
    /* top: 40px; */
    /* right: 0; */
    width: 100%;
    float: left;
    padding: 30px;
    box-sizing: border-box;
}
.logRund h2 {
    padding: 0 0 30px 0;
    color: #87909d;
}
h1, h2, h3, h4, h5, h6, strong {
    font-weight: 500;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.logRund h2 > span {
    font-size: 0.68em;
    font-weight: normal;
    display: block;
}
.tab_container {
    background: #fff;
    padding: 0px 0 0;
    /* border: 1px solid #00504c; */
    border-top: none;
}
input, select, button {
    vertical-align: middle;
    font-family: "Noto", sans-serif;
}
.logRund .login {
    overflow: hidden;
    position: relative;
}
img, fieldset {
    border: 0;
}
legend {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 0;
    line-height: 0;
    height: 0;
    font-size: 0;
    left: -10000px;
}
.logRund .login p {
    clear: both;
    width: 100%;
    padding-bottom: 4px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.logRund .login label {
    float: left;
    display: inline-block;
    padding-top: 5px;
    width: 60px;
    color: #555;
    font-size: 13px;
    font-weight: 600;
}
.hid, .hide, .hidden, .blind {
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}
label {
    cursor: pointer;
}
.logRund .login input[type=text], .logRund .login input[type=password] {
    width: 74%;
    height: 40px;
    line-height: 38px;
    border: 3px solid #dcdcdc !important;
}

input[type=text] {
    min-width: 5em;
}
input[type=text], input[type=password], input[type="date"], input[type="time"], input[type="tel"], input[type="email"], select, textarea {
    height: 32px;
    line-height: 30px;
    padding: 1px 2px;
    font-size: 1em;
    font-family: "Noto";
    border: 1px solid #bbb;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-indent: 4px;
    box-sizing: border-box;
}
.logRund .login .btnLogin {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 24%;
    height: 84px;
    background: #014099;
    border-radius: 3px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
input, select, button {
    vertical-align: middle;
    font-family: "Noto", sans-serif;
}
button {
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.logRund .login:after {
    content: '';
    display: block;
    clear: both;
}
html, body, address, blockquote, div, dl, form, h2, h3, h4, h5, h6, ol, p, pre, table, ul, dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object, a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span, strong, sub, sup, tt, var, legend, fieldset {
    margin: 0;
    padding: 0;
}
.tel {
    font-size: 14px;
    padding-left: 22px;
    background: url(./img/ico_info.png) no-repeat 0 50%;
    font-weight: 500;
    margin: 18px 0 8px 0;
    color: #87909d;
}
ul.ma {
    overflow: hidden;
}
ul, ol, li {
    list-style: none;
}
ul.ma li {
    margin-bottom: 8px;
    line-height: 1.4;
    padding-left: 15px;
    /* background: url(./imgs/bul_dot.gif) no-repeat 7px 7px; */
    position: relative;
    font-size: 1.05em;
    color: #87909d;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
.logJoin dd:nth-child(1) a {
    border-radius: 3px 0 0 3px;
}
.btn_arr.wt {
    background-position: right 16px;
    /* background-color: #fff; */
}
.btn_arr {
    display: block;
    padding: 10px 10px;
    color: #87909d;
    font-size: 14px;
    vertical-align: middle;
}
a {
    color: #333;
    text-decoration: none;
}   