
<th:block th:fragment="footerFragment">

  <!-- Head content  -->
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <!-- <link rel="stylesheet" href="./globlafooter.css" /> -->
  <link rel="stylesheet" type="text/css" th:href="@{footer.css}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto Sans KR:wght@400&display=swap" />

  <!-- Body content -->
  <div class="siteLink">
    <div class="container">
      <div class="btns">
        <a href="#none" id="siteLink_a_1" title="펼치기">대학/학과</a>
        <a href="#none" id="siteLink_a_2" title="펼치기">부속기관</a>
        <a href="#none" id="siteLink_a_3" title="펼치기">정보서비스</a>
        <a href="#none" id="siteLink_a_4" title="펼치기">연구소/센터</a>
      </div>
      <div class="siteList siteList_1 siteLink_a_1">
        <div class="item_1">
          <h4>
            <a href="https://www.mokpo.ac.kr/www/219/subview.do" title="새창" target="_blank">2023년 대학/학과</a>
          </h4>
          <ul>
            <li>
              <a href="https://www.mokpo.ac.kr/www/219/subview.do" target="_blank" title="새창">2023년까지의 단과대학/학과 홈페이지 안내입니다.</a>
            </li>
          </ul>
        </div>
        <div class="item_2">
          <h4>
            <a href="https://humanities.mokpo.ac.kr" title="새창" target="_blank">인문대학</a>
          </h4>
          <ul>
            <li>
              <a href="https://kllcw.mokpo.ac.kr/" title="새창" target="_blank">국어국문ㆍ문예창작학부</a>
            </li>
            <li>
              <a href="https://korean.mokpo.ac.kr/" title="새창" target="_blank" class="typeMajor">국어국문학전공</a>
            </li>
            <li>
              <a href="https://munchang.mokpo.ac.kr/" title="새창" target="_blank" class="typeMajor">문예창작전공</a>
            </li>  
            <li>
              <li>

              </li>
              <li>
                <a href="https://mnuglobalcom.mokpo.ac.kr/" title="새창" target="_blank">글로벌커뮤니케이션학부</a>
              </li>            
              <li>
                <a href="https://mnuenglish.mokpo.ac.kr/" title="새창" target="_blank" class="typeMajor">영어영문학전공</a>
              </li>
              <li>
                <a href="https://mnueastasia.mokpo.ac.kr/" title="새창" target="_blank" class="typeMajor">동아시아문화전공</a>
              </li>
              <li>
                <a href="https://mnujapan.mokpo.ac.kr/" title="새창" target="_blank" class="typeMajor">일어일문학전공</a>
              </li>
            </li>
            <li></li>
              <li>
              <a href="https://humancontents.mokpo.ac.kr/" title="새창" target="_blank">인문콘텐츠학부</a>
              </li>
              <li>
                <a href="https://mnumc.mokpo.ac.kr/" title="새창" target="_blank" class="typeMajor">문화콘텐츠학전공</a>
              </li>
              <li>
                <a href="https://history.mokpo.ac.kr/" title="새창" target="_blank" class="typeMajor">역사콘텐츠전공</a>
              </li>
              <li>
                <a href="https://heritage.mokpo.ac.kr/" title="새창" target="_blank" class="typeMajor">문화유산전공</a>
              </li>
              </ul>
          </ul>
        </div>
        <div class="item_3">
          <h4><a href="https://social.mokpo.ac.kr" title="새창" target="_blank">사회과학대학</a></h4>
          <ul>
            <li>
              <a href="https://law.mokpo.ac.kr/" title="새창" target="_blank">법ㆍ경찰학부</a>
            </li>
            <li>
              <a href="https://law.mokpo.ac.kr/law/16069/subview.do" title="새창" target="_blank" class="typeMajor">법학전공</a>
            </li>
            <li>
              <a href="https://law.mokpo.ac.kr/law/16070/subview.do" title="새창" target="_blank" class="typeMajor">경찰안전법전공</a>
            </li>
            <li></li>
            <li></li>
            <li>
              <a href="https://pam.mokpo.ac.kr/" title="새창" target="_blank">행정ㆍ언론미디어학부</a>
            </li>
            <li>
              <a href="https://dpa.mokpo.ac.kr/" title="새창" target="_blank" class="typeMajor">행정학전공</a>
            </li>
            <li>
              <a href="https://politics.mokpo.ac.kr/" title="새창" target="_blank" class="typeMajor">정치언론학전공</a>
            </li>
            <li></li>
            <li></li>
            <li>
              <a href="https://landadm.mokpo.ac.kr/" title="새창" target="_blank">지적학과</a>
            </li>
            <li>
              <a href="https://welfare.mokpo.ac.kr/" title="새창" target="_blank">사회복지학과</a>
            </li>
            <li>
              <a href="https://mnutour.mokpo.ac.kr/" title="새창" target="_blank">관광학과</a>
            </li>
          </ul>
        </div>
        <div class="item_4">
          <h4>
            <a href="https://biomed.mokpo.ac.kr" title="새창" target="_blank">생명ㆍ의과학대학</a>
          </h4>
          <ul>
            <li>
              <a href="https://fpeng.mokpo.ac.kr/" title="새창" target="_blank">식품ㆍ제약공학부</a>
            </li>
            <li>
              <a href="https://mnufoodeng.mokpo.ac.kr/" title="새창" target="_blank" class="typeMajor">식품공학전공</a>
            </li>
            <li>
              <a href="https://mnupharmeng.mokpo.ac.kr/" title="새창" target="_blank" class="typeMajor">제약공학전공</a>
            </li>
            <li></li>
            <li></li>
            <li>
              <a href="https://hortforest.mokpo.ac.kr/" title="새창" target="_blank">원예산림학부</a>
            </li>
            <li>
              <a href="https://forest.mokpo.ac.kr/" title="새창" target="_blank" class="typeMajor">산림자원전공</a>
            </li>
            <li>
              <a href="https://horti.mokpo.ac.kr/" title="새창" target="_blank" class="typeMajor">원예전공</a>
            </li>
            <li></li>
            <li></li>
              <li>
                <a href="https://fishpath.mokpo.ac.kr/" title="새창" target="_blank">수산생명의학과</a>
              </li>
              <li>
                <a href="https://nurse.mokpo.ac.kr/" title="새창" target="_blank">간호학과</a>
              </li>
            </ul>
          </div>
          <div class="item_5">
            <h4>
              <a href="https://engineering.mokpo.ac.kr" title="새창" target="_blank">공과대학</a>
            </h4>
            <ul>
              <li>
                <a href="https://semicon.mokpo.ac.kr/" title="새창" target="_blank">반도체공학과</a>
              </li>
              <li></li><li></li><li></li><li></li>
              <li>
                <a href="https://moe.mokpo.ac.kr/" title="새창" target="_blank">기계조선해양공학부</a>
              </li>
              <li>
                <a href="https://me.mokpo.ac.kr/" title="새창" target="_blank" class="typeMajor">기계공학전공</a>
              </li>
              <li>
                <a href="https://eee.mokpo.ac.kr/" title="새창" target="_blank" class="typeMajor">친환경에너지전공</a>
              </li>
              <li>
                <a href="https://www.mnu-naoe.ac.kr/" title="새창" target="_blank" class="typeMajor">조선해양공학전공</a>
              </li>
              <li></li>
              <li>
                <a href="https://elec-con.mokpo.ac.kr/" title="새창" target="_blank">전기공학과</a>
              </li>
              <li>
                <a href="https://ai.mokpo.ac.kr/" title="새창" target="_blank">인공지능공학과</a>
              </li>
              <li></li><li></li><li></li>
              <li>
                <a href="https://cs.mokpo.ac.kr/" title="새창" target="_blank">컴퓨터학부</a>
              </li>
              <li>
                <a href="https://ce.mokpo.ac.kr/" title="새창" target="_blank" class="typeMajor">컴퓨터공학전공</a>
              </li>
              <li>
                <a href="https://software.mokpo.ac.kr/" title="새창" target="_blank" class="typeMajor">융합소프트웨어전공</a>
              </li>
              <li>
                <a href="https://mnusecu.mokpo.ac.kr/" title="새창" target="_blank" class="typeMajor">정보보호전공</a>
              </li>
              <li></li>
              <li>
                <a href="https://mnuace.mokpo.ac.kr/" title="새창" target="_blank">건축ㆍ토목ㆍ환경공학부</a>
              </li>
              <li>
                <a href="https://mnuarche.mokpo.ac.kr/" title="새창" target="_blank" class="typeMajor">건축공학전공</a>
              </li>
              <li>
                <a href="https://mnucivil.mokpo.ac.kr/" title="새창" target="_blank" class="typeMajor">토목공학전공</a>
              </li>
              <li>
                <a href="https://mnuenvi.mokpo.ac.kr/" title="새창" target="_blank" class="typeMajor">환경공학전공</a>
              </li>
              <li></li>
              <li>
                <a href="https://mnuunl.mokpo.ac.kr/" title="새창" target="_blank">도시계획및조경학부</a>
              </li>
              <li>
                <a href="https://landscape.mokpo.ac.kr/" title="새창" target="_blank" class="typeMajor">조경학전공</a>
              </li>
              <li>
                <a href="https://mnuurd.mokpo.ac.kr/" title="새창" target="_blank" class="typeMajor">도시계획및지역개발학전공</a>
              </li>
              <li></li><li></li>
              <li>
                <a href="https://mnudoa.mokpo.ac.kr/" title="새창" target="_blank">건축학과</a>
              </li>
              <li>
                <a href="https://mnueche.mokpo.ac.kr/" title="새창" target="_blank">에너지화학공학과</a>
              </li>
              <li></li><li></li><li></li>
            </ul>
          </div>
          <div class="item_6">
            <h4>
              <a href="https://buz.mokpo.ac.kr" title="새창" target="_blank">경영대학</a>
            </h4>
            <ul>
              <li>
                <a href="https://mnuba.mokpo.ac.kr/" title="새창" target="_blank">경영학부</a>
              </li>
              <li>
                <a href="https://biz.mokpo.ac.kr/" title="새창" target="_blank" class="typeMajor">경영학전공</a>
              </li>
              <li>
                <a href="https://mnufinance.mokpo.ac.kr/" title="새창" target="_blank" class="typeMajor">금융보험학전공</a>
              </li>
              <li></li><li></li>
              <li>
                <a href="https://econtrade.mokpo.ac.kr/" title="새창" target="_blank">경제무역학부</a>
              </li>
              <li>
                <a href="https://economy.mokpo.ac.kr/" title="새창" target="_blank" class="typeMajor">경제학전공</a>
              </li>
              <li>
                <a href="https://trade.mokpo.ac.kr/" title="새창" target="_blank" class="typeMajor">무역학전공</a>
              </li>
              <li></li><li></li>
            </ul>
          </div>
          <div class="item_7">
            <h4>
              <a href="https://mnuhemap.mokpo.ac.kr" title="새창" target="_blank">생활과학예술체육대학</a>
            </h4>
            <ul>
              <li>
                <a href="https://mnuchild.mokpo.ac.kr/" title="새창" target="_blank">아동학과</a>
              </li>
              <li>
                <a href="https://mnufoodnutrition.mokpo.ac.kr/" title="새창" target="_blank">식품영양학과</a>
              </li>
              <li>
                <a href="https://mnufashion.mokpo.ac.kr/" title="새창" target="_blank">패션의류학과</a>
              </li>
              <li>
                <a href="https://mnumusic.mokpo.ac.kr/" title="새창" target="_blank">음악공연기획과</a>
              </li>
              <li>
                <a href="https://physical.mokpo.ac.kr/" title="새창" target="_blank">체육학과</a>
              </li>
              <li>
                <a href="https://artndesign.mokpo.ac.kr/" title="새창" target="_blank">아트앤디자인학부</a>
              </li>
              <li>
                <a href="https://art.mokpo.ac.kr/" title="새창" target="_blank" class="typeMajor">뉴아트영상애니메이션전공</a>
              </li>
              <li>
                <a href="https://design.mokpo.ac.kr/" title="새창" target="_blank" class="typeMajor">시각디자인전공</a>
              </li>
              <li></li><li></li>
            </ul>
          </div>
          <div class="item_8">
            <h4>
              <a href="https://education.mokpo.ac.kr" title="새창" target="_blank">사범대학</a>
            </h4>
            <ul>
              <li>
                <a href="https://educa.mokpo.ac.kr" target="_blank" title="새창">교육학과</a>
              </li>
              <li>
                <a href="https://ethics.mokpo.ac.kr" target="_blank" title="새창">윤리교육과</a>
              </li>
              <li>
                <a href="https://englishedu.mokpo.ac.kr" target="_blank" title="새창">영어교육과</a>
              </li>
              <li>
                <a href="https://mmed.mokpo.ac.kr" target="_blank" title="새창">수학교육과</a>
              </li>
              <li>
                <a href="https://mnueedu.mokpo.ac.kr" target="_blank" title="새창">환경교육과</a>
              </li>
            </ul>
          </div>
          <div class="item_9">
            <h4>
              <a href="https://mnupharmacy.mokpo.ac.kr" title="새창" target="_blank">약학대학 약학과</a>
            </h4>
          </div>
          <div class="item_10">
            <h4>
              <a href="https://futurelife.mokpo.ac.kr" title="새창" target="_blank">미래라이프대학</a>
            </h4>
            <ul>
              <li>
                <a href="https://leisure.mokpo.ac.kr/" title="새창" target="_blank">레저스포츠지도학과</a>
              </li>
              <li>
                <a href="https://mnucounseling.mokpo.ac.kr/" title="새창" target="_blank">상담심리치료학과</a>
              </li>
              <li>
                <a href="https://tea.mokpo.ac.kr/" title="새창" target="_blank">국제차문화학과</a>
              </li>
              <li>
                <a href="https://mnuat.mokpo.ac.kr/" title="새창" target="_blank">회계세무학과</a>
              </li>
              <li>
                <a href="https://se.mokpo.ac.kr/" title="새창" target="_blank">스마트에너지학과</a>
              </li>
              <li>
                <a href="https://ssbs.mokpo.ac.kr/" title="새창" target="_blank">스마트조선시스템학과</a>
              </li>
            </ul>
          </div>
          <div class="item_11">
            <h4>
              <a href="#none">총장직속학부</a>
            </h4>
            <ul>
              <li>
                <a href="https://liberal.mokpo.ac.kr" target="_blank" title="새창">교양학부</a>
              </li>
              <li>
                <a href="https://mnuglobal.mokpo.ac.kr" target="_blank" title="새창">글로벌학부</a>
              </li>
              <li>
                <a href="https://mnusdm.mokpo.ac.kr" target="_blank" title="새창">자율전공학부</a>
              </li>
            </ul>
          </div>
          <div class="item_12">
            <h4>
              <a href="#none">계약학과</a>
            </h4>
            <ul>
              <li>
                <a href="https://early.mokpo.ac.kr" target="_blank" title="새창">조기취업형 계약학과</a>
              </li>
              <li>
                <a href="https://nase.mokpo.ac.kr/" target="_blank" title="새창">조선시스템학과</a>
              </li>
              <li>
                <a href="https://sese.mokpo.ac.kr/" target="_blank" title="새창">스마트에너지시스템공학과</a>
              </li>
            </ul>
          </div>
          <div class="item_13">
            <h4>
              <a href="#none">대학원</a>
            </h4>
            <ul>
              <li>
                <a href="https://admgraduate.mokpo.ac.kr" target="_blank" title="새창">일반대학원</a>
              </li>
              <li>
                <a href="https://edutop.mokpo.ac.kr" target="_blank" title="새창">교육대학원</a>
              </li>
              <li>
                <a href="https://gsb.mokpo.ac.kr" target="_blank" title="새창">경영행정대학원</a>
              </li>
              <li>
                <a href="https://gsit.mokpo.ac.kr" target="_blank" title="새창">산업대학원</a>
              </li>
            </ul>
          </div>        
      </div>
      <div class="siteList siteList_2 siteLink_a_2">
        <ul>
          <li>
            <a target="_blank" title="새창" href="https://ipp.mokpo.ac.kr">IPP 사업단</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://linc.mokpo.ac.kr">LINC3.0사업단</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://gosi.mokpo.ac.kr">고시생활관</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="http://centlab.mokpo.ac.kr/">공동실험실습관</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://do.mokpo.ac.kr/do/index.do">공무원직장협의회</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://abeek.mokpo.ac.kr">공학교육혁신센터</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://gifted.mokpo.ac.kr">과학영재교육원</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://mnufc.mokpo.ac.kr">교수평의회</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://edu.mokpo.ac.kr">교육연수원</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://iiee.mokpo.ac.kr">국제교류교육원</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://fund.mokpo.ac.kr">대학발전기금</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://mnusalrim.mokpo.ac.kr">대학살림</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="http://islands.mokpo.ac.kr">도서문화연구원</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://larc.mokpo.ac.kr">동물실험실습관</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="http://mnum.mokpo.ac.kr">박물관</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://engineering.mokpo.ac.kr/engineering/7235/subview.do">부속공장</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://farm.mokpo.ac.kr">부속농장</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="http://iacf.mokpo.ac.kr">산학협력단</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://irb.mokpo.ac.kr">생명윤리심의위원회</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://science.mokpo.ac.kr">생활과학교실</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://press.mokpo.ac.kr">신문방송사</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://mnuable.mokpo.ac.kr">장애학생지원센터</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://dream.mokpo.ac.kr">정보보호영재교육원</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://mnucc.mokpo.ac.kr">정보전산원</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="http://library.mokpo.ac.kr">중앙도서관</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://msaf.mokpo.ac.kr">창업보육센터</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://sm.mokpo.ac.kr">체육부</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="http://www.mpuob.org/">총동문회</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="http://cec.mokpo.ac.kr">평생교육원</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://160rotc.mokpo.ac.kr">학군단</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://dormi.mokpo.ac.kr">학생생활관</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://counsel.mokpo.ac.kr">학생상담센터</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://job.mokpo.ac.kr">인재개발원 대학일자리센터</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://bk21four.mokpo.ac.kr/">4단계 BK21바이오의약사업단</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="http://mnuhrc.or.kr/">인권센터</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://safe.mokpo.ac.kr">연구실안전관리센터</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://na.mokpo.ac.kr">기록관</a>
          </li>
        </ul>
      </div>
      <div class="siteList siteList_3 siteLink_a_3">
        <ul>
          <li>
            <a target="_blank" title="새창" href="http://attend.mokpo.ac.kr/mokpo/online/">전자출결(교수용)</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://mokpo.korus.ac.kr/">코러스(교내용)</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="http://lms.mokpo.ac.kr">가상강좌 </a>
          </li>
          <li>
            <a target="_blank" title="새창" href="http://live.mokpo.ac.kr">Office365 </a>
          </li>
          <li>
            <a target="_blank" title="새창" href="http://www.academyinfo.go.kr/popup/pubinfo1690/list.do?schlId=0000011">대학정보공시 </a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://press.mokpo.ac.kr/">목포대신문방송사</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="http://www.safetyedu.org">사이버안전교육</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="http://iars.mokpo.ac.kr">산학/연구바로가기</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://uni.webminwon.com/servlet/WMINDEX?COMMAND=ACTIVEX&amp;GIWANNO=024604">인터넷증명발급</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://939.co.kr/mokpo/">온라인원격지원</a>
          </li>
        </ul>
      </div>
      <div class="siteList siteList_4 siteLink_a_4">
        <ul>
          <li>
            <a target="_blank" title="새창" href="https://point.mokpo.ac.kr/">MNU국립대학 육성사업단</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="http://www.shipric.re.kr/">IT기반서남권중형조선산업</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="http://www.ricit.re.kr">세라믹산업기술연구소</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="http://blog.daum.net/mnueurope">유럽문화연구소</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://mnu6003.mokpo.ac.kr/mnu6003/index.do">친환경농업연구센터</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://hrd.mokpo.ac.kr">산업기술교육센터</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://surf.mokpo.ac.kr">해양케이블시험연구센터</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://rne.mokpo.ac.kr">신재생에너지육성사업단</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://hncultural.mokpo.ac.kr">호남문화콘텐츠연구소</a>
          </li>
          <li>
            <a target="_blank" title="새창" href="https://wiset.mokpo.ac.kr">호남제주권역 전남지역 R_WeSET사업단</a>
          </li>
        </ul>
      </div>
    </div>  
  </div>


  <script>
    // 버튼들을 선택합니다.
const btns = document.querySelectorAll('.btns a');

// 각 버튼에 클릭 이벤트를 추가하고, 사이트 목록을 열거나 닫습니다.
btns.forEach(btn => {
  btn.addEventListener('click', function(event) {
    event.preventDefault(); // 기본 동작을 중단합니다.
    const target = event.currentTarget; // 클릭된 버튼을 선택합니다.
    const siteList = document.querySelector(`.${target.id}`); // 해당 버튼에 대응하는 사이트 목록을 선택합니다.
    
    // 사이트 목록이 이미 활성화되어 있는지 확인합니다.
    const isActive = siteList.classList.contains('active');

    // 현재 활성화된 버튼의 색상을 변경합니다.
    btns.forEach(btn => {
      btn.classList.remove('active-btn');
    });

    // 현재 클릭된 버튼이 이미 활성화된 경우 활성화 클래스를 제거합니다.
    if (isActive) {
      target.classList.remove('active-btn');
      siteList.classList.remove('active');
    } else {
      // 활성화되어 있지 않다면 다른 사이트 목록을 모두 닫은 후 해당 사이트 목록을 엽니다.
      document.querySelectorAll('.siteList').forEach(list => {
        list.classList.remove('active');
      });
      siteList.classList.add('active');
      // 현재 클릭된 버튼에 활성화 클래스를 추가합니다.
      target.classList.add('active-btn');
    }
  });
});
</script>

</th:block>
