<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Document</title>
        <!-- <link rel="stylesheet" href="./nav.css" /> -->
        <link rel="stylesheet" type="text/css" th:href="@{main.css}" />
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script type="text/javascript">   
            $(document).ready( function() {
            $("#footers").load("/footer.html");  // 추가 인클루드를 원할 경우 이런식으로 추가하면 된다
            $("#temp").load("/temp.html");  // 원하는 파일 경로를 삽입하면 된다
            });
        </script>
    </head>
    <body>
        <header>
            <div class="area_1">
                <div class="container">
                    <!--GNB-->
                    <div class="item_1">
                        <a href="https://www.mokpo.ac.kr" class="a_1 new_win"
                            title="새창" target="_blank">국립목포대학교</a>
                        <a href="https://ipsi.mokpo.ac.kr" class="a_2 new_win"
                            title="새창" target="_blank">입학안내</a>
                        <a href="https://mnuwb.mokpo.ac.kr" class="a_3 new_win"
                            title="새창" target="_blank">국립목포대포털</a>
                    </div>
                    <!--GNB-->
                    <!--LOGO-->
                    <div class="item_2">
                        <a href="/sites/cs/index.do"><img
                                src="/img/main_logo.png" alt="국립목포대학교"
                                class="logo_c"><span>컴퓨터학부</span></a>
                    </div>
                    <!--LOGO-->
                    <!--UNB-->
                    <div class="item_3">
                        <div class="gnb">
                            <div class="_fnctWrap">
                                <ul class="gnbLogin">
                                    <li class="sign">
                                        <a
                                            href="/subLogin/cs/view.do?layout=unknown">
                                            로그인
                                        </a>
                                    </li>
                                    <li class="search">
                                        <a href="http://search.mokpo.ac.kr/"
                                            title="새창" target="_blank"
                                            class="new_win">검색</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a href="/cs/16810/subview.do" class="a_2">SITEMAP</a>
                    </div>
                </div>
            </div>
            <div class="area_2">
                <div class="container">
                    <!--주메뉴-->
                    <div class="head_navi">
                        <nav id="menuUItop" class="menuUItop ">
                            <div class="hidden">
                                fnctId=sitemenu,menuViewType=top
                            </div>

                            <div class="top_div div_1">
                                <ul
                                    class="top_k2wiz_GNB _wizOdr ul_1 have count5">
                                    <li
                                        class="li_1_16790 li_1 have _1st _even eQ01 _useChildDiv">
                                        <a href="/cs/16795/subview.do"
                                            id="top_k2wiz_GNB_16790"
                                            class="top_k2wiz_GNB_16790 a_1 k2wiz_GNB_15352"
                                            target="_self">
                                            학부소개
                                            <input type="hidden"
                                                id="top_menuTitle_16790"
                                                value="학부소개">
                                        </a>
                                        <div
                                            class="top_div_16790 div_2 _childDiv"
                                            style="display: none;">
                                            <ul
                                                class="top_k2wiz_GNB_ul_16790 _wizOdr ul_2 have count3">
                                                <li
                                                    class="li_2_16795 li_2 _1st _even">
                                                    <a
                                                        href="/cs/16795/subview.do"
                                                        id="top_k2wiz_GNB_16795"
                                                        class="top_k2wiz_GNB_16795 a_2 k2wiz_GNB_16790"
                                                        target="_self">
                                                        컴퓨터학부 소개
                                                        <input type="hidden"
                                                            id="top_menuTitle_16795"
                                                            value="컴퓨터학부 소개">
                                                    </a>
                                                </li>
                                                <li
                                                    class="li_2_16797 li_2 have _odd _2nd _useChildDiv">
                                                    <a
                                                        href="/cs/16811/subview.do"
                                                        id="top_k2wiz_GNB_16797"
                                                        class="top_k2wiz_GNB_16797 a_2 k2wiz_GNB_16790"
                                                        target="_self">
                                                        교수진
                                                        <input type="hidden"
                                                            id="top_menuTitle_16797"
                                                            value="교수진">
                                                    </a>
                                                    <div
                                                        class="top_div_16797 div_3 _childDiv">
                                                        <ul
                                                            class="top_k2wiz_GNB_ul_16797 _wizOdr ul_3 count3">
                                                            <li
                                                                class="li_3_16811 li_3 _1st _even">
                                                                <a
                                                                    href="/cs/16811/subview.do"
                                                                    id="top_k2wiz_GNB_16811"
                                                                    class="top_k2wiz_GNB_16811 a_3 k2wiz_GNB_16797"
                                                                    target="_self">
                                                                    컴퓨터공학전공
                                                                    <input
                                                                        type="hidden"
                                                                        id="top_menuTitle_16811"
                                                                        value="컴퓨터공학전공">
                                                                </a>
                                                            </li>
                                                            <li
                                                                class="li_3_16812 li_3 _odd _2nd">
                                                                <a
                                                                    href="/cs/16812/subview.do"
                                                                    id="top_k2wiz_GNB_16812"
                                                                    class="top_k2wiz_GNB_16812 a_3 k2wiz_GNB_16797"
                                                                    target="_self">
                                                                    융합소프트웨어전공
                                                                    <input
                                                                        type="hidden"
                                                                        id="top_menuTitle_16812"
                                                                        value="융합소프트웨어전공">
                                                                </a>
                                                            </li>
                                                            <li
                                                                class="li_3_16813 li_3 _last _even _3rd">
                                                                <a
                                                                    href="/cs/16813/subview.do"
                                                                    id="top_k2wiz_GNB_16813"
                                                                    class="top_k2wiz_GNB_16813 a_3 k2wiz_GNB_16797"
                                                                    target="_self">
                                                                    정보보호전공
                                                                    <input
                                                                        type="hidden"
                                                                        id="top_menuTitle_16813"
                                                                        value="정보보호전공">
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li
                                                    class="li_2_16798 li_2 _last _even _3rd">
                                                    <a
                                                        href="/cs/16798/subview.do"
                                                        id="top_k2wiz_GNB_16798"
                                                        class="top_k2wiz_GNB_16798 a_2 k2wiz_GNB_16790"
                                                        target="_self">
                                                        찾아오시는길
                                                        <input type="hidden"
                                                            id="top_menuTitle_16798"
                                                            value="찾아오시는길">
                                                    </a>
                                                </li>
                                            </ul>
                                            <span class="navGab"></span></div>
                                    </li>
                                    <li
                                        class="li_1_16791 li_1 have _odd _2nd eQ02 _useChildDiv">
                                        <a href="/cs/16799/subview.do"
                                            id="top_k2wiz_GNB_16791"
                                            class="top_k2wiz_GNB_16791 a_1 k2wiz_GNB_15352"
                                            target="_self">
                                            전공소개
                                            <input type="hidden"
                                                id="top_menuTitle_16791"
                                                value="전공소개">
                                        </a>
                                        <div
                                            class="top_div_16791 div_2 _childDiv"
                                            style="display: none;">
                                            <ul
                                                class="top_k2wiz_GNB_ul_16791 _wizOdr ul_2 count3">
                                                <li
                                                    class="li_2_16799 li_2 _1st _even">
                                                    <a
                                                        href="/cs/16799/subview.do"
                                                        id="top_k2wiz_GNB_16799"
                                                        class="top_k2wiz_GNB_16799 a_2 k2wiz_GNB_16791"
                                                        target="_self">
                                                        컴퓨터공학전공
                                                        <input type="hidden"
                                                            id="top_menuTitle_16799"
                                                            value="컴퓨터공학전공">
                                                    </a>
                                                </li>
                                                <li
                                                    class="li_2_16800 li_2 _odd _2nd">
                                                    <a
                                                        href="/cs/16800/subview.do"
                                                        id="top_k2wiz_GNB_16800"
                                                        class="top_k2wiz_GNB_16800 a_2 k2wiz_GNB_16791"
                                                        target="_self">
                                                        융합소프트웨어전공
                                                        <input type="hidden"
                                                            id="top_menuTitle_16800"
                                                            value="융합소프트웨어전공">
                                                    </a>
                                                </li>
                                                <li
                                                    class="li_2_16801 li_2 _last _even _3rd">
                                                    <a
                                                        href="/cs/16801/subview.do"
                                                        id="top_k2wiz_GNB_16801"
                                                        class="top_k2wiz_GNB_16801 a_2 k2wiz_GNB_16791"
                                                        target="_self">
                                                        정보보호전공
                                                        <input type="hidden"
                                                            id="top_menuTitle_16801"
                                                            value="정보보호전공">
                                                    </a>
                                                </li>
                                            </ul>
                                            <span class="navGab"></span></div>
                                    </li>
                                    <li
                                        class="li_1_16792 li_1 have _even _3rd eQ03 _useChildDiv">
                                        <a href="/cs/16802/subview.do"
                                            id="top_k2wiz_GNB_16792"
                                            class="top_k2wiz_GNB_16792 a_1 k2wiz_GNB_15352"
                                            target="_self">
                                            교과과정
                                            <input type="hidden"
                                                id="top_menuTitle_16792"
                                                value="교과과정">
                                        </a>
                                        <div
                                            class="top_div_16792 div_2 _childDiv"
                                            style="display: none;">
                                            <ul
                                                class="top_k2wiz_GNB_ul_16792 _wizOdr ul_2 count5">
                                                <li
                                                    class="li_2_16802 li_2 _1st _even">
                                                    <a
                                                        href="/cs/16802/subview.do"
                                                        id="top_k2wiz_GNB_16802"
                                                        class="top_k2wiz_GNB_16802 a_2 k2wiz_GNB_16792"
                                                        target="_self">
                                                        컴퓨터공학전공 교과과정
                                                        <input type="hidden"
                                                            id="top_menuTitle_16802"
                                                            value="컴퓨터공학전공 교과과정">
                                                    </a>
                                                </li>
                                                <li
                                                    class="li_2_16803 li_2 _odd _2nd">
                                                    <a
                                                        href="/cs/16803/subview.do"
                                                        id="top_k2wiz_GNB_16803"
                                                        class="top_k2wiz_GNB_16803 a_2 k2wiz_GNB_16792"
                                                        target="_self">

                                                        융합소프트웨어전공 교과과정
                                                        <input type="hidden"
                                                            id="top_menuTitle_16803"
                                                            value="융합소프트웨어전공 교과과정">
                                                    </a>
                                                </li>
                                                <li
                                                    class="li_2_16804 li_2 _even _3rd">
                                                    <a
                                                        href="/cs/16804/subview.do"
                                                        id="top_k2wiz_GNB_16804"
                                                        class="top_k2wiz_GNB_16804 a_2 k2wiz_GNB_16792"
                                                        target="_self">
                                                        정보보호전공 교과과정
                                                        <input type="hidden"
                                                            id="top_menuTitle_16804"
                                                            value="정보보호전공 교과과정">
                                                    </a>
                                                </li>
                                                <li
                                                    class="li_2_16871 li_2 _odd">
                                                    <a
                                                        href="/cs/16871/subview.do"
                                                        id="top_k2wiz_GNB_16871"
                                                        class="top_k2wiz_GNB_16871 a_2 k2wiz_GNB_16792"
                                                        target="_self">
                                                        1학년 공통 교과과정
                                                        <input type="hidden"
                                                            id="top_menuTitle_16871"
                                                            value="1학년 공통 교과과정">
                                                    </a>
                                                </li>
                                                <li
                                                    class="li_2_16805 li_2 _last _even">
                                                    <a
                                                        href="/liberal/6095/subview.do"
                                                        id="top_k2wiz_GNB_16805"
                                                        class="top_k2wiz_GNB_16805 a_2 k2wiz_GNB_16792 new_win"
                                                        target="_blank">
                                                        교양과정
                                                        <input type="hidden"
                                                            id="top_menuTitle_16805"
                                                            value="교양과정 ">
                                                    </a>
                                                </li>
                                            </ul>
                                            <span class="navGab"></span></div>
                                    </li>
                                    <li
                                        class="li_1_16793 li_1 have _odd eQ04 _useChildDiv">
                                        <a href="/cs/16806/subview.do"
                                            id="top_k2wiz_GNB_16793"
                                            class="top_k2wiz_GNB_16793 a_1 k2wiz_GNB_15352"
                                            target="_self">
                                            커뮤니티
                                            <input type="hidden"
                                                id="top_menuTitle_16793"
                                                value="커뮤니티">
                                        </a>
                                        <div
                                            class="top_div_16793 div_2 _childDiv"
                                            style="display: none;">
                                            <ul
                                                class="top_k2wiz_GNB_ul_16793 _wizOdr ul_2 count3">
                                                <li
                                                    class="li_2_16806 li_2 _1st _even">
                                                    <a
                                                        href="/cs/16806/subview.do"
                                                        id="top_k2wiz_GNB_16806"
                                                        class="top_k2wiz_GNB_16806 a_2 k2wiz_GNB_16793"
                                                        target="_self">
                                                        공지사항
                                                        <input type="hidden"
                                                            id="top_menuTitle_16806"
                                                            value="공지사항">
                                                    </a>
                                                </li>
                                                <li
                                                    class="li_2_16807 li_2 _odd _2nd">
                                                    <a
                                                        href="/cs/16807/subview.do"
                                                        id="top_k2wiz_GNB_16807"
                                                        class="top_k2wiz_GNB_16807 a_2 k2wiz_GNB_16793"
                                                        target="_self">

                                                        학부동향
                                                        <input type="hidden"
                                                            id="top_menuTitle_16807"
                                                            value="학부동향">
                                                    </a>

                                                </li>
                                                <li
                                                    class="li_2_16808 li_2 _last _even _3rd">

                                                    <a
                                                        href="/cs/16808/subview.do"
                                                        id="top_k2wiz_GNB_16808"
                                                        class="top_k2wiz_GNB_16808 a_2 k2wiz_GNB_16793"
                                                        target="_self">

                                                        포토갤러리
                                                        <input type="hidden"
                                                            id="top_menuTitle_16808"
                                                            value="포토갤러리">
                                                    </a>

                                                </li>
                                            </ul>
                                            <span class="navGab"></span></div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div id="bContents">
            <input type="hidden" id="multiContentEditorYn" value="Y">
            <div id="contentsEditHtml">
                <input type="hidden" id="siteIdVal" value="cs">
          
                <div class="contntMaster">
                /WEB-INF/jsp/k2web/com/cop/site/layout.jsp<br>
                cs_JW_MS_K2WT001_M
                </div>
                <input type="hidden" id="pathMenuSeqs" value="">
                <input id="editMode" type="hidden" value="GENERAL">
          
                <article id="_contentBuilder" class="_contentBuilder _k2__WiZaRd_general">
                    <div class="multipleDiv" id="multipleDiv_college_templet_04_9"> 
                        <div class="multipleContentsDiv clear-fix" id="multipleContentsDiv_college_templet_04_9"> 
                            <div class="_obj _objWidget" id="menu15352_obj18" style=""> 
                                <div class="hidden widgetInfo">
                                fnctId=imageSlide,fnctNo=760 
                                </div>
                                <div class="_fnctWrap">
                                    <h2 class="hidden">비주얼(<b>2</b> 개)</h2>
      
                                <div class="wrap_visual" id="wrap-slider760">
                                    <ul class="slider slick-initialized slick-slider slick-dotted" id="slider760">
                                        <div aria-live="polite" class="slick-list draggable">
                                            <div class="slick-track" role="listbox" style="opacity: 1; width: 3200px;">
                                                <li class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 1820px; position: relative; left: 0px; top: 0px; z-index: 0; opacity: 1;">
                                                    <div class="item_1"></div>
                                                    <div class="item_2">
                                                        <p class="text_1">국립목포대학교</p>
                                                        <p class="text_2">컴퓨터학부</p>
                                                    </div>
                                                </li>
                                                <!-- <li class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 1211px; position: relative; left: -1211px; top: 0px; z-index: 998; opacity: 0; transition: opacity 1000ms cubic-bezier(0.7, 0, 0.3, 1) 0s;">
                                                    <div class="item_1" style="background:url(/img/main_slide1.jpg) no-repeat center;"></div>
                                                    <div class="item_2">
                                                        <p class="text_1">국립목포대학교</p>
                                                        <p class="text_2">컴퓨터학부</p>
                                                    </div>
                                                </li> -->
                                            </div>
                                        </div>
                                    </ul>
                                    <!-- <div class="wrap">
                                        
                                        <div class="slogan">
                                            <p class="text_1"></p>
                                            <p class="text_2"></p>
                                        </div>
                                       
                                        <div class="control">
                                            
                                            <div class="pannel">
                                                <button type="button" class="prev">이전 슬라이드</button>
                                                <button type="button" class="play">슬라이드 재생</button>
                                                <button type="button" class="stop on">슬라이드 정지</button>
                                                <button type="button" class="next">다음 슬라이드</button>
                                            </div>
                                           
                                            <div class="numbering numbering1">
                                                <span>0</span>
                                                <span class="now">1</span>
                                            </div>
                                            <div class="paging" role="toolbar">
                                                <ul class="slick-dots" role="tablist" style="display: flex;">
                                                    <li class="slick-active" aria-hidden="false" role="presentation" aria-selected="true" aria-controls="navigation00" id="slick-slide00">
                                                        <button type="button" data-role="none" role="button" tabindex="0">1</button>
                                                    </li>
                                                    <li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation01" id="slick-slide01" class="">
                                                        <button type="button" data-role="none" role="button" tabindex="0">2</button>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="numbering numbering2">
                                                <span>0</span>
                                                <span class="total">2</span>
                                            </div>
                                            <div class="playStop">
                                                <button type="button" class="play">슬라이드 재생</button>
                                                <button type="button" class="stop on">슬라이드 정지</button>
                                            </div>
                                            <div class="prevNext">
                                                <button type="button" class="prev slick-arrow" style="display: block;">이전 슬라이드</button>
                                                <button type="button" class="next slick-arrow" style="display: block;">다음 슬라이드</button>
                                            </div>
                                        </div>
                                    </div> -->
                               
                                </div>
                            </div>
                            <div id="iSldFnctSetup760" class="hidden">
                                imageSlideSetupSeq=760,cnvrsVe=1,stopTime=3,pcCo=1,cnvrsMth=FADEIN,pcMgWidth=100,isImageNoHandlr=true,isCnvrsHandlr=true,isPlayStopHandlr=true
                            </div>
                            <script>
                                $(document).ready(function() {
                            
                                    // 현재페이지번호 / 전체페이지수 //
                                    $('#slider760').on('init', function(event, slick) {
                                        $('#wrap-slider760 .numbering > .total').text(slick.slideCount);
                            
                                        var txt1 = $('#wrap-slider760 .slick-current .text_1').text();
                                        var txt2 = $('#wrap-slider760 .slick-current .text_2').text();
                                        $('.wrap .slogan .text_1').text(txt1);
                                        $('.wrap .slogan .text_2').text(txt2);
                            
                                    });
                                    $('#slider760').on('afterChange', function(event, slick, currentSlide){
                                        $('#wrap-slider760 .numbering > .now').text(currentSlide+1);
                            
                                        var txt1 = $('#wrap-slider760 .slick-current .text_1').text();
                                        var txt2 = $('#wrap-slider760 .slick-current .text_2').text();
                                        $('.wrap .slogan .text_1').text(txt1);
                                        $('.wrap .slogan .text_2').text(txt2);
                                    });
                            
                                    // slick //
                                    $("#slider760").slick({
                                        slidesToShow: 1,
                                        slidesToScroll: 1,
                                        dots: true,
                                        arrows: true,
                                        autoplay: true,
                                        autoplaySpeed: 3000,
                                        speed: 1000,
                                        infinite: true,
                                        pauseOnHover: false,
                                        
                                            
                                            fade: true,
                                        
                                        cssEase: 'cubic-bezier(0.7, 0, 0.3, 1)',
                                        appendDots: $('#wrap-slider760 .control .paging'),
                                        prevArrow: '#wrap-slider760 .prev',
                                        nextArrow: '#wrap-slider760 .next'
                                    });
                            
                                    $('#wrap-slider760 button.play').on('click', function () {
                                        $("#slider760").slick("slickPlay");
                                        $(this).removeClass('on');
                                        $('#wrap-slider760 button.stop').addClass('on');
                                    });
                                    $('#wrap-slider760 button.stop').on('click', function () {
                                        $("#slider760").slick("slickPause");
                                        $(this).removeClass('on');
                                        $('#wrap-slider760 button.play').addClass('on');
                                    });
                            
                                });
                            </script>
                        </div> 
                    </div> 
                </div> 
        <div class="multipleDiv _selDiv" id="multipleDiv_college_templet_04_10"> 
            <div class="multipleContentsDiv clear-fix" id="multipleContentsDiv_college_templet_04_10"> 
                <div class="_obj _objHtml _absolute" id="menu15352_obj82" style=""> 
                    <div class="mainTitle mainTitle_1"> 
                        <h2>Notice</h2> 
                            <p>컴퓨터학부의 <br>공지사항을 알려드립니다.</p> 
                    </div> 
                </div> 
                <div class="_obj _objWidget" id="menu15352_obj32" style=""> 
                    <div class="hidden widgetInfo">
                        fnctId=recentBbs,fnctNo=581 
                    </div>
                    <div class="_fnctWrap wrap_rct">
                        <ul>
                            <li class="active">
                                <div class="title">
                                    <a href="#this" title="공지사항">공지사항</a>
                                </div>
                              
                                <div class="list">
                                    <ul class="wrap_rct_slider slick-initialized slick-slider slick-dotted">
                                        <!--<ul>-->
                                        <div aria-live="polite" class="slick-list draggable">
                                            <div class="slick-track" role="listbox" style="opacity: 1; width: auto;">
                                                <li class="slick-slide slick-cloned" tabindex="-1" role="option" aria-describedby="slick-slide1" style="width: 381px;" data-slick-index="0" aria-hidden="true">
                                                    <a href="/bbs/cs/1570/261619/artclView.do?layout=unknown" class="subject" tabindex="-1">
                                                        <div class="con">             
                                                            <div class="subjectText"><span>학생 간식서비스(Happy Time ) 시행 안내  </span></div>
                                
                                                            <div class="content">※ 4.10.(수) 공휴일(국회의원선거) 지정에 따라 4.11.(목)로 변경 운영</div>
                                
                                                            <div class="dateA">2024.04.09</div>
                                                            <div class="dateB">
                                                                <span class="yM">2024.04</span>
                                                                <span class="dD">09</span>
                                                            </div>                                                            
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="slick-slide slick-cloned" tabindex="-1" role="option" aria-describedby="slick-slide1" style="width: 381px;" data-slick-index="0" aria-hidden="true">
                                                    <a href="/bbs/cs/1570/253024/artclView.do?layout=unknown" class="subject" tabindex="-1">                                                   
                                                        <div class="con">
                                                            <div class="subjectText"><span>2024학년도 통학버스 운행계획 안내</span></div>
                                
                                                            <div class="content">우리 대학교 통학버스 이용자들의 안전하고 원활한 수송을 위한 「2024학년도 통학버스 운행계획(안)」을 붙임과 같이 알려드립니다. - 운행기간 : 2024. 3. 4. ~ 2025</div>
                                
                                                            <div class="dateA">2024.02.21</div>
                                                            <div class="dateB">
                                                                <span class="yM">2024.02</span>
                                                                <span class="dD">21</span>
                                                            </div>                                
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="slick-slide slick-cloned" tabindex="-1" role="option" aria-describedby="slick-slide1" style="width: 381px;" data-slick-index="0" aria-hidden="true">
                                                    <a href="/bbs/cs/1570/261619/artclView.do?layout=unknown" class="subject" tabindex="-1">
                                                        <div class="con">             
                                                            <div class="subjectText"><span>테스트 박스  </span></div>
                                
                                                            <div class="content">※ 테스트 중입니다</div>
                                
                                                            <div class="dateA">2024.04.09</div>
                                                            <div class="dateB">
                                                                <span class="yM">2024.04</span>
                                                                <span class="dD">09</span>
                                                            </div>                                                            
                                                        </div>
                                                    </a>
                                                </li>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                                <a href="/bbs/cs/1570/artclList.do?layout=unknown" class="more" title="공지사항더보기"><span>더보기</span>READ MORE</a>
                            </li>
                            <li>
                                <div class="title">
                                    <a href="#this" title=" 학부동향"> 학부동향</a>
                                </div>
                              
                                <div class="list">
                                    <ul class="wrap_rct_slider">
                                        <li class="nodata">최근게시물이(가) 없습니다.</li> 
                                  </ul>
                                </div>
                                <a href="/bbs/cs/2061/artclList.do?layout=unknown" class="more" title=" 학부동향더보기"><span>더보기</span>READ MORE</a>                             
                            </li>
                        </ul>
                    </div>
                </div> 
            </div> 
        </div> 
        <div class="multipleDiv" id="multipleDiv_college_templet_04_11"> 
            <div class="multipleContentsDiv clear-fix" id="multipleContentsDiv_college_templet_04_11"> 
                <div class="_obj _objHtml" id="menu15352_obj269" style=""> 
                    <div class="wrap_video"> 
                        <h2 class="videoTitle">
                            <span>MNU YouTube</span> 
                            <a href="https://www.youtube.com/@MNU1946" title="새창" target="_blank" class="more new_win">더보기</a> 
                        </h2> 
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/9TuFAHP7ebI" title="목포대학교 홍보음악 - Say you love me [MV]" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe> 
                    </div> 
                </div> 
                <div class="_obj _objHtml" id="menu15352_obj56" style=""> 
                    <div class="mainTitle mainTitle_3"> 
                        <h2>Photo Gallery</h2> 
                    </div> 
                </div> 
                <div class="_obj _objWidget" id="menu15352_obj34" style=""> 
                    <div class="hidden widgetInfo">
                        fnctId=recentBbs,fnctNo=580 
                    </div>
                    <div class="_fnctWrap wrap_photo">
                        <div class="container">
                            <ul class="inner">
                                <li class="active">
                                    <div class="title">
                                        <a href="#this" title="포토앨범">포토앨범</a>
                                    </div>                                
                                    <div class="list">
                                        <!--<ul class="wrap_photo_slider">-->
                                        <ul>
                                            <li>
                                                <a href="/bbs/cs/1571/262848/artclView.do?layout=unknown" class="subject">
                                                    <div class="thumb">
                                                        <img src="/sites/cs/atchmnfl/bbs/1571/thumbnail/temp_1714540861278100.jpg" alt="2024학년도 사제동행 2 대표이미지">
                                                    </div>
                                                              
                                                    <div class="con">    
                                                        <div class="dateA">2024.05.01</div>
                                                        <div class="dateB">
                                                            <span class="dD">01</span>
                                                            <span class="yM">2024.05</span>
                                                        </div>
                                                                  
                                                        <div class="subjectText"><span>2024학년도 사제동행 2</span></div>
                                                        
                                                        <div class="content"><span>교수님들과 햄버거 같이 먹으며 학교생활 얘기를 나눔</span></div>
                                                    </div>
                                                </a>
                                            </li>       
                                            <li>
                                                <a href="/bbs/cs/1571/262847/artclView.do?layout=unknown" class="subject">
                                                        <div class="thumb">
                                                            <img src="/sites/cs/atchmnfl/bbs/1571/thumbnail/temp_1714540472363100.jpg" alt="2024학년도 1학기 사제동행 1 대표이미지">
                                                        </div>                                              
                                                    <div class="con">
                                                        <div class="dateA">2024.05.01</div>
                                                        <div class="dateB">
                                                            <span class="dD">01</span>
                                                            <span class="yM">2024.05</span>
                                                        </div>
                                                        
                                                        <div class="subjectText"><span>2024학년도 1학기 사제동행 1</span></div>
                                                        
                                                        <div class="content"><span>교수님들과 햄버거 같이 먹으며 학교생활 얘기를 나눔</span></div>
                                                    </div>
                                                </a>
                                            </li>      
                                            <li>
                                                <a href="/bbs/cs/1571/262172/artclView.do?layout=unknown" class="subject">
                                                    
                                                        
                                                        <div class="thumb">
                                                            <img src="/sites/cs/atchmnfl/bbs/1571/thumbnail/temp_1713428049253100.jpg" alt="2024년도 봄학기 MT 대표이미지">
                                                        </div>
                                                    
                                                    <div class="con">
                                                        
                                                        
                                                        <div class="dateA">2024.04.18</div>
                                                        <div class="dateB">
                                                            <span class="dD">18</span>
                                                            <span class="yM">2024.04</span>
                                                        </div>
                                                        
                                                        <div class="subjectText"><span>2024년도 봄학기 MT</span></div>
                                                        
                                                        <div class="content"><span></span></div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="/bbs/cs/1571/artclList.do?layout=unknown" class="more" title="포토앨범더보기"><span>더보기</span>READ MORE</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> 
                <div class="_obj _objWidget" id="menu15352_obj35" style=""> 
                    <div class="hidden widgetInfo">
                    fnctId=imageSlide,fnctNo=762 
                    </div>
                    <div class="_fnctWrap wrap_link_1">
                        <div class="inner">      
                            <div class="mainTitle mainTitle_4">
                                <h2>Quick Menu<em>(5 개)</em></h2>
                            </div>
                            <div id="wrap-slider762" class="container">
                                <!--<ul class="slider" id="slider762">-->
                                <ul class="slider">                    
                                    <li>
                                        <a href="https://www.mokpo.ac.k" class="item new_win" target="_blank" title="새 창">
                                            <div class="wrap">
                                                <div class="item_1">
                                                    <img src="img/main_tab1.png" alt="국립목포대학교">
                                                </div>
                                                <div class="item_2">
                                                    <p class="text_1"><span>국립목포대학교<span></span></span></p>
                                                    <p class="text_2">국립목포대학교</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://mnuhs.mokpo.ac.kr:7775/sso" class="item new_win" target="_blank" title="새 창">
                                            <div class="wrap">
                                                <div class="item_1"><img src="img/main_tab2.png" alt="통합학사정보서비스"></div>
                                                <div class="item_2">
                                                    <p class="text_1"><span>통합학사정보서비스<span></span></span></p>
                                                    <p class="text_2">통합학사정보서비스</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                      
                                    <li>
                                        <a href="https://campus.heyoung.co.kr/admin/screen/HCO0101M01" class="item new_win" target="_blank" title="새 창">
                                            <div class="wrap">
                                                <div class="item_1"><img src="img/main_tab3.png" alt="전자출결(학생용)"></div>
                                                <div class="item_2">
                                                    <p class="text_1"><span>전자출결(학생용)<span></span></span></p>
                                                    <p class="text_2">전자출결(학생용)</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                      
                                    <li>
                                        <a href="https://lms.mokpo.ac.kr/sso/index.php" class="item new_win" target="_blank" title="새 창">
                                            <div class="wrap">
                                                <div class="item_1"><img src="img/main_tab4.png" alt="가상강좌"></div>
                                                <div class="item_2">
                                                    <p class="text_1"><span>가상강좌<span></span></span></p>
                                                    <p class="text_2">가상강좌</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>                    
                                    <li>
                                        <a href="https://www.mokpo.ac.kr/www/312/subview.do" class="item new_win" target="_blank" title="새 창">
                                            <div class="wrap">
                                                <div class="item_1"><img src="img/main_tab5.png" alt="취업공지"></div>
                                                <div class="item_2">
                                                    <p class="text_1"><span>취업공지<span></span></span></p>
                                                    <p class="text_2">취업공지</p>
                                                </div>
                                            </div>
                                        </a>                              
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> 
            </div> 
        </div> 
        <div class="multipleDiv" id="multipleDiv_college_templet_04_12"> 
            <div class="multipleContentsDiv clear-fix" id="multipleContentsDiv_college_templet_04_12"> 
            </div> 
        </div>         
    </article>
      </div>
    </div>
    <div id="footers"></div>
    <div id="temp"></div>
    <script>
        // 모든 메뉴 항목의 DOM 요소를 선택합니다.
        const menuItems = document.querySelectorAll('.head_navi .li_1');

        // 각 메뉴 항목에 이벤트 리스너를 추가합니다.
        menuItems.forEach(menuItem => {
            menuItem.addEventListener('click', function(event) {
                // 기본 이벤트를 막습니다. 이벤트 전파를 중단합니다.
                event.preventDefault();
                event.stopPropagation();

                // 해당 메뉴를 표시합니다.
                this.style.display = 'block';

                // 해당 메뉴의 하위 메뉴를 표시합니다.
                const subMenus = this.querySelectorAll('._childDiv');

                subMenus.forEach(subMenu => {
                    subMenu.style.display = 'block';
                });

                // 다른 메뉴 항목과 그 하위 메뉴를 표시합니다.
                menuItems.forEach(otherMenuItem => {
                    if (otherMenuItem !== this) {
                        otherMenuItem.style.display = 'block';

                        const otherSubMenus = otherMenuItem.querySelectorAll('._childDiv');
                        otherSubMenus.forEach(otherSubMenu => {
                            otherSubMenu.style.display = 'block';
                        });
                    }
                });
            });
        });
        
        // area_2를 선택합니다.
        const area2 = document.querySelector('.area_2');

        // area_2에서 마우스가 벗어났을 때의 이벤트 리스너를 추가합니다.
        area2.addEventListener('mouseleave', function() {
            // 모든 메뉴 항목의 DOM 요소를 선택합니다.
            const menuItems = document.querySelectorAll('.head_navi .li_1');

            // 각 메뉴 항목을 순회하면서 하위 메뉴를 숨깁니다.
            menuItems.forEach(menuItem => {
                const subMenus = menuItem.querySelectorAll('._childDiv');
                subMenus.forEach(subMenu => {
                    subMenu.style.display = 'none';
                });
            });
        });
    

    </script>
    </body>
</html>
