<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Document</title>
        <!-- <link rel="stylesheet" href="./nav.css" /> -->
        <link rel="stylesheet" href="./nav.css" />
    </head>
    <body>
        <header>
            <div class="area_1">
                <div class="container">
                    <!--GNB-->
                    <div class="item_1">
                        <a href="https://www.mokpo.ac.kr" class="a_1 new_win"
                            title="새창" target="_blank">국립목포대학교</a>
                        <a href="https://ipsi.mokpo.ac.kr" class="a_2 new_win"
                            title="새창" target="_blank">입학안내</a>
                        <a href="https://mnuwb.mokpo.ac.kr" class="a_3 new_win"
                            title="새창" target="_blank">국립목포대포털</a>
                    </div>
                    <!--GNB-->
                    <!--LOGO-->
                    <div class="item_2">
                        <a href="/sites/cs/index.do"><img
                                src="/img/main_logo.png" alt="국립목포대학교"
                                class="logo_c"><span>컴퓨터학부</span></a>
                    </div>
                    <!--LOGO-->
                    <!--UNB-->
                    <div class="item_3">
                        <div class="gnb">
                            <div class="_fnctWrap">
                                <ul class="gnbLogin">
                                    <li class="sign">
                                        <a
                                            href="/subLogin/cs/view.do?layout=unknown">
                                            로그인
                                        </a>
                                    </li>
                                    <li class="search">
                                        <a href="http://search.mokpo.ac.kr/"
                                            title="새창" target="_blank"
                                            class="new_win">검색</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a href="/cs/16810/subview.do" class="a_2">SITEMAP</a>
                    </div>
                </div>
            </div>
            <div class="area_2">
                <div class="container">
                    <!--주메뉴-->
                    <div class="head_navi">
                        <nav id="menuUItop" class="menuUItop ">
                            <div class="hidden">
                                fnctId=sitemenu,menuViewType=top
                            </div>

                            <div class="top_div div_1">
                                <ul
                                    class="top_k2wiz_GNB _wizOdr ul_1 have count5">
                                    <li
                                        class="li_1_16790 li_1 have _1st _even eQ01 _useChildDiv">
                                        <a href="/cs/16795/subview.do"
                                            id="top_k2wiz_GNB_16790"
                                            class="top_k2wiz_GNB_16790 a_1 k2wiz_GNB_15352"
                                            target="_self">
                                            학부소개
                                            <input type="hidden"
                                                id="top_menuTitle_16790"
                                                value="학부소개">
                                        </a>
                                        <div
                                            class="top_div_16790 div_2 _childDiv"
                                            style="display: none;">
                                            <ul
                                                class="top_k2wiz_GNB_ul_16790 _wizOdr ul_2 have count3">
                                                <li
                                                    class="li_2_16795 li_2 _1st _even">
                                                    <a
                                                        href="/cs/16795/subview.do"
                                                        id="top_k2wiz_GNB_16795"
                                                        class="top_k2wiz_GNB_16795 a_2 k2wiz_GNB_16790"
                                                        target="_self">
                                                        컴퓨터학부 소개
                                                        <input type="hidden"
                                                            id="top_menuTitle_16795"
                                                            value="컴퓨터학부 소개">
                                                    </a>
                                                </li>
                                                <li
                                                    class="li_2_16797 li_2 have _odd _2nd _useChildDiv">
                                                    <a
                                                        href="/cs/16811/subview.do"
                                                        id="top_k2wiz_GNB_16797"
                                                        class="top_k2wiz_GNB_16797 a_2 k2wiz_GNB_16790"
                                                        target="_self">
                                                        교수진
                                                        <input type="hidden"
                                                            id="top_menuTitle_16797"
                                                            value="교수진">
                                                    </a>
                                                    <div
                                                        class="top_div_16797 div_3 _childDiv">
                                                        <ul
                                                            class="top_k2wiz_GNB_ul_16797 _wizOdr ul_3 count3">
                                                            <li
                                                                class="li_3_16811 li_3 _1st _even">
                                                                <a
                                                                    href="/cs/16811/subview.do"
                                                                    id="top_k2wiz_GNB_16811"
                                                                    class="top_k2wiz_GNB_16811 a_3 k2wiz_GNB_16797"
                                                                    target="_self">
                                                                    컴퓨터공학전공
                                                                    <input
                                                                        type="hidden"
                                                                        id="top_menuTitle_16811"
                                                                        value="컴퓨터공학전공">
                                                                </a>
                                                            </li>
                                                            <li
                                                                class="li_3_16812 li_3 _odd _2nd">
                                                                <a
                                                                    href="/cs/16812/subview.do"
                                                                    id="top_k2wiz_GNB_16812"
                                                                    class="top_k2wiz_GNB_16812 a_3 k2wiz_GNB_16797"
                                                                    target="_self">
                                                                    융합소프트웨어전공
                                                                    <input
                                                                        type="hidden"
                                                                        id="top_menuTitle_16812"
                                                                        value="융합소프트웨어전공">
                                                                </a>
                                                            </li>
                                                            <li
                                                                class="li_3_16813 li_3 _last _even _3rd">
                                                                <a
                                                                    href="/cs/16813/subview.do"
                                                                    id="top_k2wiz_GNB_16813"
                                                                    class="top_k2wiz_GNB_16813 a_3 k2wiz_GNB_16797"
                                                                    target="_self">
                                                                    정보보호전공
                                                                    <input
                                                                        type="hidden"
                                                                        id="top_menuTitle_16813"
                                                                        value="정보보호전공">
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li
                                                    class="li_2_16798 li_2 _last _even _3rd">
                                                    <a
                                                        href="/cs/16798/subview.do"
                                                        id="top_k2wiz_GNB_16798"
                                                        class="top_k2wiz_GNB_16798 a_2 k2wiz_GNB_16790"
                                                        target="_self">
                                                        찾아오시는길
                                                        <input type="hidden"
                                                            id="top_menuTitle_16798"
                                                            value="찾아오시는길">
                                                    </a>
                                                </li>
                                            </ul>
                                            <span class="navGab"></span></div>
                                    </li>
                                    <li
                                        class="li_1_16791 li_1 have _odd _2nd eQ02 _useChildDiv">
                                        <a href="/cs/16799/subview.do"
                                            id="top_k2wiz_GNB_16791"
                                            class="top_k2wiz_GNB_16791 a_1 k2wiz_GNB_15352"
                                            target="_self">
                                            전공소개
                                            <input type="hidden"
                                                id="top_menuTitle_16791"
                                                value="전공소개">
                                        </a>
                                        <div
                                            class="top_div_16791 div_2 _childDiv"
                                            style="display: none;">
                                            <ul
                                                class="top_k2wiz_GNB_ul_16791 _wizOdr ul_2 count3">
                                                <li
                                                    class="li_2_16799 li_2 _1st _even">
                                                    <a
                                                        href="/cs/16799/subview.do"
                                                        id="top_k2wiz_GNB_16799"
                                                        class="top_k2wiz_GNB_16799 a_2 k2wiz_GNB_16791"
                                                        target="_self">
                                                        컴퓨터공학전공
                                                        <input type="hidden"
                                                            id="top_menuTitle_16799"
                                                            value="컴퓨터공학전공">
                                                    </a>
                                                </li>
                                                <li
                                                    class="li_2_16800 li_2 _odd _2nd">
                                                    <a
                                                        href="/cs/16800/subview.do"
                                                        id="top_k2wiz_GNB_16800"
                                                        class="top_k2wiz_GNB_16800 a_2 k2wiz_GNB_16791"
                                                        target="_self">
                                                        융합소프트웨어전공
                                                        <input type="hidden"
                                                            id="top_menuTitle_16800"
                                                            value="융합소프트웨어전공">
                                                    </a>
                                                </li>
                                                <li
                                                    class="li_2_16801 li_2 _last _even _3rd">
                                                    <a
                                                        href="/cs/16801/subview.do"
                                                        id="top_k2wiz_GNB_16801"
                                                        class="top_k2wiz_GNB_16801 a_2 k2wiz_GNB_16791"
                                                        target="_self">
                                                        정보보호전공
                                                        <input type="hidden"
                                                            id="top_menuTitle_16801"
                                                            value="정보보호전공">
                                                    </a>
                                                </li>
                                            </ul>
                                            <span class="navGab"></span></div>
                                    </li>
                                    <li
                                        class="li_1_16792 li_1 have _even _3rd eQ03 _useChildDiv">
                                        <a href="/cs/16802/subview.do"
                                            id="top_k2wiz_GNB_16792"
                                            class="top_k2wiz_GNB_16792 a_1 k2wiz_GNB_15352"
                                            target="_self">
                                            교과과정
                                            <input type="hidden"
                                                id="top_menuTitle_16792"
                                                value="교과과정">
                                        </a>
                                        <div
                                            class="top_div_16792 div_2 _childDiv"
                                            style="display: none;">
                                            <ul
                                                class="top_k2wiz_GNB_ul_16792 _wizOdr ul_2 count5">
                                                <li
                                                    class="li_2_16802 li_2 _1st _even">
                                                    <a
                                                        href="/cs/16802/subview.do"
                                                        id="top_k2wiz_GNB_16802"
                                                        class="top_k2wiz_GNB_16802 a_2 k2wiz_GNB_16792"
                                                        target="_self">
                                                        컴퓨터공학전공 교과과정
                                                        <input type="hidden"
                                                            id="top_menuTitle_16802"
                                                            value="컴퓨터공학전공 교과과정">
                                                    </a>
                                                </li>
                                                <li
                                                    class="li_2_16803 li_2 _odd _2nd">
                                                    <a
                                                        href="/cs/16803/subview.do"
                                                        id="top_k2wiz_GNB_16803"
                                                        class="top_k2wiz_GNB_16803 a_2 k2wiz_GNB_16792"
                                                        target="_self">

                                                        융합소프트웨어전공 교과과정
                                                        <input type="hidden"
                                                            id="top_menuTitle_16803"
                                                            value="융합소프트웨어전공 교과과정">
                                                    </a>
                                                </li>
                                                <li
                                                    class="li_2_16804 li_2 _even _3rd">
                                                    <a
                                                        href="/cs/16804/subview.do"
                                                        id="top_k2wiz_GNB_16804"
                                                        class="top_k2wiz_GNB_16804 a_2 k2wiz_GNB_16792"
                                                        target="_self">
                                                        정보보호전공 교과과정
                                                        <input type="hidden"
                                                            id="top_menuTitle_16804"
                                                            value="정보보호전공 교과과정">
                                                    </a>
                                                </li>
                                                <li
                                                    class="li_2_16871 li_2 _odd">
                                                    <a
                                                        href="/cs/16871/subview.do"
                                                        id="top_k2wiz_GNB_16871"
                                                        class="top_k2wiz_GNB_16871 a_2 k2wiz_GNB_16792"
                                                        target="_self">
                                                        1학년 공통 교과과정
                                                        <input type="hidden"
                                                            id="top_menuTitle_16871"
                                                            value="1학년 공통 교과과정">
                                                    </a>
                                                </li>
                                                <li
                                                    class="li_2_16805 li_2 _last _even">
                                                    <a
                                                        href="/liberal/6095/subview.do"
                                                        id="top_k2wiz_GNB_16805"
                                                        class="top_k2wiz_GNB_16805 a_2 k2wiz_GNB_16792 new_win"
                                                        target="_blank">
                                                        교양과정
                                                        <input type="hidden"
                                                            id="top_menuTitle_16805"
                                                            value="교양과정 ">
                                                    </a>
                                                </li>
                                            </ul>
                                            <span class="navGab"></span></div>
                                    </li>
                                    <li
                                        class="li_1_16793 li_1 have _odd eQ04 _useChildDiv">
                                        <a href="/cs/16806/subview.do"
                                            id="top_k2wiz_GNB_16793"
                                            class="top_k2wiz_GNB_16793 a_1 k2wiz_GNB_15352"
                                            target="_self">
                                            커뮤니티
                                            <input type="hidden"
                                                id="top_menuTitle_16793"
                                                value="커뮤니티">
                                        </a>
                                        <div
                                            class="top_div_16793 div_2 _childDiv"
                                            style="display: none;">
                                            <ul
                                                class="top_k2wiz_GNB_ul_16793 _wizOdr ul_2 count3">
                                                <li
                                                    class="li_2_16806 li_2 _1st _even">
                                                    <a
                                                        href="/cs/16806/subview.do"
                                                        id="top_k2wiz_GNB_16806"
                                                        class="top_k2wiz_GNB_16806 a_2 k2wiz_GNB_16793"
                                                        target="_self">
                                                        공지사항
                                                        <input type="hidden"
                                                            id="top_menuTitle_16806"
                                                            value="공지사항">
                                                    </a>
                                                </li>
                                                <li
                                                    class="li_2_16807 li_2 _odd _2nd">
                                                    <a
                                                        href="/cs/16807/subview.do"
                                                        id="top_k2wiz_GNB_16807"
                                                        class="top_k2wiz_GNB_16807 a_2 k2wiz_GNB_16793"
                                                        target="_self">

                                                        학부동향
                                                        <input type="hidden"
                                                            id="top_menuTitle_16807"
                                                            value="학부동향">
                                                    </a>

                                                </li>
                                                <li
                                                    class="li_2_16808 li_2 _last _even _3rd">

                                                    <a
                                                        href="/cs/16808/subview.do"
                                                        id="top_k2wiz_GNB_16808"
                                                        class="top_k2wiz_GNB_16808 a_2 k2wiz_GNB_16793"
                                                        target="_self">

                                                        포토갤러리
                                                        <input type="hidden"
                                                            id="top_menuTitle_16808"
                                                            value="포토갤러리">
                                                    </a>

                                                </li>
                                            </ul>
                                            <span class="navGab"></span></div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div id="footers"></div>
        <div id="temp"></div>
        <script>
            // 모든 메뉴 항목의 DOM 요소를 선택합니다.
            const menuItems = document.querySelectorAll('.head_navi .li_1');

            // 각 메뉴 항목에 이벤트 리스너를 추가합니다.
            menuItems.forEach(menuItem => {
                menuItem.addEventListener('click', function(event) {
                    // 기본 이벤트를 막습니다. 이벤트 전파를 중단합니다.
                    event.preventDefault();
                    event.stopPropagation();

                    // 해당 메뉴를 표시합니다.
                    this.style.display = 'block';

                    // 해당 메뉴의 하위 메뉴를 표시합니다.
                    const subMenus = this.querySelectorAll('._childDiv');

                    subMenus.forEach(subMenu => {
                        subMenu.style.display = 'block';
                    });

                    // 다른 메뉴 항목과 그 하위 메뉴를 표시합니다.
                    menuItems.forEach(otherMenuItem => {
                        if (otherMenuItem !== this) {
                            otherMenuItem.style.display = 'block';

                            const otherSubMenus = otherMenuItem.querySelectorAll('._childDiv');
                            otherSubMenus.forEach(otherSubMenu => {
                                otherSubMenu.style.display = 'block';
                            });
                        }
                    });
                });
            });
            // 하위 메뉴 항목의 DOM 요소를 선택합니다.
            const subMenuItems = document.querySelectorAll('.head_navi .li_2, .head_navi .li_3');

            // 각 하위 메뉴 항목에 이벤트 리스너를 추가합니다.
            subMenuItems.forEach(subMenuItem => {
                subMenuItem.addEventListener('click', function(event) {
                    // 하위 메뉴 항목의 링크로 이동합니다.
                    const link = this.querySelector('a').getAttribute('href');
                    window.location.href = link;
                });
            });
            // area_2를 선택합니다.
            const area2 = document.querySelector('.area_2');

            // area_2에서 마우스가 벗어났을 때의 이벤트 리스너를 추가합니다.
            area2.addEventListener('mouseleave', function() {
                // 모든 메뉴 항목의 DOM 요소를 선택합니다.
                const menuItems = document.querySelectorAll('.head_navi .li_1');

                // 각 메뉴 항목을 순회하면서 하위 메뉴를 숨깁니다.
                menuItems.forEach(menuItem => {
                    const subMenus = menuItem.querySelectorAll('._childDiv');
                    subMenus.forEach(subMenu => {
                        subMenu.style.display = 'none';
                    });
                });
            });
        

        </script>
    </body>
</html>
